.header {
  align-items: center;
  backdrop-filter: blur(5px);
  background: #ffffffaa;
  border-bottom: 1px solid #eee;
  display: flex;
  height: 49px;
  position: sticky;
  top: 0;
  width: 100%;
}

.nav {
  background: #fff;
  border-top: 1px solid #eee;
  bottom: 0;
  display: flex;
  height: 49px;
  position: sticky;
  width: 100%;
}

.nav a {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  justify-content: center;
}

.nav a:hover {
  background: radial-gradient(#0099ff22, 15%, transparent 16%);
  background-size: 180px 180px;
  background-position: center;
}

.nav a:hover > :global(svg) {
  stroke: var(--primary)
}

.section {
  flex: 1
}

.h2 {
  font-size:  21px;
  font-weight: 800;
  padding-left:  15px;
}