.article {
  border-bottom: 2px solid #eee;
  display: flex;
  padding: 10px 15px;
}

.div {
  padding-right: 10px;
}

.p {
  line-height: 1.3125;
  margin: 0
}

.date {
  color: #555;
  font: 14px;
}

.img {
  border-radius: 10px;
  height: auto;
  margin-top: 10px;
  width: 100%;
}